@import 'variables';


    :root {
      --fontSize: 73vh;
    }

* {
  box-sizing: border-box;
  user-select: none;
}

.pointer {cursor: pointer;}

html {
  font-family: sans-serif;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 300;
}


.animateFade{animation:fading $fadeSpeed infinite}@keyframes fading{0%{opacity:0}40%{opacity:1}45%{opacity:1}65%{opacity:0}100%{opacity:0}}


#titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: $layoutBorders solid blue;
  #imageWrapper {
    height: $heightHeader;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: $layoutBorders solid green;

    img {
      opacity: 1;
      margin-top: 91.75vh;
      width: $imageLogoWidth;
      border: $layoutBorders solid cyan;
    }
  }

  .spacer {
    height: $heightMain;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
      border: $layoutBorders solid red;

    img {
        width: $imageKeyboardWidth;
    }
  }

  footer {
    height: $heightFooter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: $layoutBorders solid magenta;
  }
}




main {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  border: $layoutBorders solid darkgrey;
  header {
    height: $heightHeader;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: $layoutBorders solid green;
    img {
      opacity: 1;
      margin-top: 91.75vh;
      width: 80vw;
      border: $layoutBorders solid cyan;
    }
  }
  #gameGrid {
    height: 100%;
    height: $heightMain;
    width: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $layoutBorders solid red;
    .highlight {
      box-shadow: 0px 0px 10px $white;
      border: 2px solid $white;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .square {
        margin-top: -1px;
        margin-left: -1px;
        opacity: 0.75;
        color: #444;
        font-size: $gridSquareLabelSize;
        width: $gridSquare;
        height: $gridSquare;
        display: flex;
        flex-direction: row;
        border: $gridBorderWidth solid $gridBorder;
      }

      .square.toggled {
        border: 0px solid $background;
      }

      .red {
        color: $blockColorEdgeRed;
        background-color: $blockColorRed;
        box-shadow: 0px 0px 5px $blockColorRed;
        border: $blockBorder solid $blockColorEdgeRed;
      }

      .green {
        color: $blockColorEdgeGreen;
        background-color: $blockColorGreen;
        box-shadow: 0px 0px 5px $blockColorGreen;
        border: $blockBorder solid $blockColorEdgeGreen;
      }
      .blue {
        background-color: $blockColorBlue;
        box-shadow: 0px 0px 5px $blockColorBlue;
        border: $blockBorder solid $blockColorEdgeBlue;
        color:  $blockColorEdgeBlue;
      }
      .pink {
        background-color: $blockColorPink;
        box-shadow: 0px 0px 5px $blockColorPink;
        border: $blockBorder solid $blockColorEdgePink;
        color:  $blockColorEdgePink;
      }
      .purple{
        background-color: $blockColorPurple;
        box-shadow: 0px 0px 5px $blockColorPurple;
        border: $blockBorder solid $blockColorEdgePurple;
        color: $blockColorEdgePurple;
      }
      .orange {
        background-color: $blockColorOrange;
        box-shadow: 0px 0px 5px $blockColorOrange;
        border: $blockBorder solid $blockColorEdgeOrange;
        color:  $blockColorEdgeOrange;
      }
      .cyan {
        background-color: $blockColorCyan;
        box-shadow: 0px 0px 5px $blockColorCyan;
        border: $blockBorder solid $blockColorEdgeCyan;
        color: $blockColorEdgeCyan;
      }
      .grey {
        background-color: $blockColorGrey;
        box-shadow: 0px 0px 5px $blockColorGrey;
        border: $blockBorder solid $blockColorEdgeGrey;
        color: $blockColorEdgeGrey;
      }
      .empty {
        background-color: none;
      }
    }
  }

  footer {
    height: $heightFooter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: $layoutBorders solid magenta;

    .footerRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

          #buttonsControl {

            font-family: 'Montserrat', sans-serif;
            font-size: 1.5vw;
            padding-left: 2vw;
            padding-bottom: -3vh;
            font-size: 3vh;
            font-weight: lighter;
            display: flex;
            align-items:flex-end;
            border: $layoutBorders solid green;
            span {
              color: $menuColor;
              transition: color .15s ease-in-out;
            }
            span:hover{
              color: $menuColorHighlight;
            }
          }
          #scoreBoard {
            border: $layoutBorders solid green;
            font-size: 5vh;
            color: $scoreColor;
            padding-right: 2vw;
            padding-bottom: 2vh;
            align-items:center;
          }
    }
  }
}

#displayContact a {
    text-decoration: none;
    color: $textNormal;
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
    font-family: sans-serif;
    font-size: $fontSize;
    border: $layoutBorders solid green;
}
