@import 'variables';

* {
  box-sizing: border-box;
  user-select: none;
}

.pointer {cursor: pointer;}

html {
  font-family: sans-serif;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  // border: 1px solid blue;
  #imageWrapper {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    img {
      opacity: 1;
      margin-top: 91.75vh;
      width: 80vw;
      border: 1px solid cyan;
    }
  }

  .spacer {
    height: 85vh;
    width: 100vw;
      border: 1px solid red;
  }

  .startButtonWrapper {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid magenta;
    img {
      border: 1px solid $buttonBorder;
      border-radius: 5px;
    }
    img:hover {
      border: 1px solid $gridBorder;
      border-radius: 5px;
      box-shadow: 0px 0px 10px #888;
    }
  }
}

main {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  // border: 1px solid darkgrey;
  header {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    img {
      opacity: 1;
      margin-top: 91.75vh;
      width: 80vw;
      border: 1px solid cyan;
    }
  }
  #gameGrid {
    height: 100%;
    height: 85vh;
    width: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    .highlight {
      box-shadow: 0px 0px 10px $white;
      border: 2px solid $white;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .square {
        margin-top: -1px;
        margin-left: -1px;
        opacity: 0.75;
        color: #444;
        font-size: $gridSquareLabelSize;
        width: $gridSquare;
        height: $gridSquare;
        display: flex;
        flex-direction: row;
        border: 1px solid $gridBorder;
      }
      .red {
        color: $blockColorEdgeRed;
        background-color: $blockColorRed;
        box-shadow: 0px 0px 5px $blockColorRed;
        border: 1px solid $blockColorEdgeRed;
        // box-shadow: inset 0px 0px 20px rgba(255,255,255,5.25);
      }
      .green {
        color: $blockColorEdgeGreen;
        background-color: $blockColorGreen;
        box-shadow: 0px 0px 5px $blockColorGreen;
        border: 1px solid $blockColorEdgeGreen;
      }
      .blue {
        background-color: $blockColorBlue;
        box-shadow: 0px 0px 5px $blockColorBlue;
        border: 1px solid $blockColorEdgeBlue;
        color:  $blockColorEdgeBlue;
      }
      .pink {
        background-color: $blockColorPink;
        box-shadow: 0px 0px 5px $blockColorPink;
        border: 1px solid $blockColorEdgePink;
        color:  $blockColorEdgePink;
      }
      .purple{
        background-color: $blockColorPurple;
        box-shadow: 0px 0px 5px $blockColorPurple;
        border: 1px solid $blockColorEdgePurple;
        color: $blockColorEdgePurple;
      }
      .orange {
        background-color: $blockColorOrange;
        box-shadow: 0px 0px 5px $blockColorOrange;
        border: 1px solid $blockColorEdgeOrange;
        color:  $blockColorEdgeOrange;
      }
      .cyan {
        background-color: $blockColorCyan;
        box-shadow: 0px 0px 5px $blockColorCyan;
        border: 1px solid $blockColorEdgeCyan;
        color: $blockColorEdgeCyan;
      }
      .grey {
        background-color: $blockColorGrey;
        box-shadow: 0px 0px 5px $blockColorGrey;
        border: 1px solid $blockColorEdgeGrey;
        color: $blockColorEdgeGrey;
      }
      .empty {
        // visibility: hidden;
        // display:none;
        background-color: none;
        // background-color: rgba(255,0,0,0);
      }
    }
  }

  footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid magenta;

    #buttonsControl {
      padding-left: 25px;
      font-size: 3vh;
      font-weight: lighter;
      display: flex;
      align-items:flex-end;
      border: 1px solid green;
      span {
        color: $menuColor;
        transition: color .15s ease-in-out;
      }
      span:hover{
        color: $menuColorHighlight;
      }
    }
    #scoreBoard {
      border: 1px solid green;
      font-size: 5vh;
      color: $scoreColor;
      padding-right: 25px;
      display: flex;
      align-items:center;
    }
  }
}
