$gridSquare : 4vh;
$blockColorRed : #F00;
$blockColorEdgeRed : #F88;
$blockColorGreen : #0F0;
$blockColorEdgeGreen : #8F8;
$blockColorBlue : #00F;
$blockColorEdgeBlue : #88F;
$blockColorOrange: #F90;
$blockColorEdgeOrange : #F96;
$blockColorPink: #F0F;
$blockColorEdgePink : #F9F;

$blockColorPurple: #A0A;
$blockColorEdgePurple : #A5A;

$blockColorCyan: #0DD;
$blockColorEdgeCyan: #7DD;




* {
  box-sizing: border-box;
}

html {

  font-family: sans-serif;
}

body {
  background-color: #555;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid darkgrey;

  header {
    height: 10vh;
    width: 100vw;
    // border: 1px dashed darkgrey;
  }

  gameGrid {
    height: 85vh;
    width: 0 auto;
    border: 1px dashed darkgrey;
    display: flex;
    flex-direction: column;
    border: 1px red;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;


      .square {
        width: $gridSquare;
        height: $gridSquare;
        display: flex;
        flex-direction: row;
        border: 1px solid #666;


      }
      .red {
        background-color: $blockColorRed;
        box-shadow: 0px 0px 5px $blockColorRed;
        border: 1px solid $blockColorEdgeRed;
      }
      .green {
        background-color: $blockColorGreen;
        box-shadow: 0px 0px 5px $blockColorGreen;
        border: 1px solid $blockColorEdgeGreen;
      }
      .blue {
        background-color: $blockColorBlue;
        box-shadow: 0px 0px 5px $blockColorBlue;
        border: 1px solid $blockColorEdgeBlue;
      }
      .pink {
        background-color: $blockColorPink;
        box-shadow: 0px 0px 5px $blockColorPink;
        border: 1px solid $blockColorEdgePink;
      }
      .purple{
        background-color: $blockColorPurple;
        box-shadow: 0px 0px 5px $blockColorPurple;
        border: 1px solid $blockColorEdgePurple;
      }
      .orange {
        background-color: $blockColorOrange;
        box-shadow: 0px 0px 5px $blockColorOrange;
        border: 1px solid $blockColorEdgeOrange;
      }
      .cyan {
        background-color: $blockColorCyan;
        box-shadow: 0px 0px 5px $blockColorCyan;
        border: 1px solid $blockColorEdgeCyan;
      }
      .empty {
        // visibility: hidden;
        // display:none;
        background-color: none;
        // background-color: rgba(255,0,0,0);
      }

    }

  }

  footer {
    height: 5vh;
    // border: 1px dashed darkgrey;
  }
}
