$background: #555;

$heightHeader: 8vh;
$heightMain: 84vh;
$heightFooter: 8vh;

$imageLogoWidth: 80vw;
$imageKeyboardWidth: 40vw;

$fadeSpeed: 8s;


//$gridSquare: 4.5vh;
$gridSquare: 4.25vh;
$gridSquareLabelSize :0vh; //1.5vh

$gridBorder: #777;
$buttonBorder: #333;
$scoreColor: #999;
$scoreColor: #CCC;
$menuColor: #888;
$menuColorHighlight: #CCC;

$blockColorGrey : #444;
$blockColorEdgeGrey : #222;
$blockColorRed : #F00;
$blockColorEdgeRed : #FAA;
$blockColorGreen : #0D0;
$blockColorEdgeGreen : #BFB;
$blockColorBlue : #00F;
$blockColorEdgeBlue : #99F;
$blockColorOrange: #F90;
$blockColorEdgeOrange : #FC8;
$blockColorPink: #F0F;
$blockColorEdgePink : #FAF;
$blockColorPurple: #A0A;
$blockColorEdgePurple : #C9C;
$blockColorCyan: #0DD;
$blockColorEdgeCyan: #9FF;

$white: #FFF;
